.DS_Store
.ftppass
.devOpt
.idea
npm-debug.log

*.js
*.map
*.css
*.log
*.html
public/.dev
memo.txt

node_modules
bin/s

public/.svn
public/node_modules
public/res

.trash
_trash
dist

#!public/res/js/*.js
#!public/res/img
#!public/ext
#!public/ext/*.*
#!public/ext
#!public/lib/*.*

package-lock.json
