h1 upload pic
img(src='http://comunion-avatar.sgp1.digitaloceanspaces.com/WechatIMG1087.jpeg')

form(method="post" enctype="multipart/form-data" action="/a/upload")
    label Upload a file
    input(type="file" name="upload")
    input(type="submit" class="button")
    p comunion-avatar.sgp1.digitaloceanspaces.com/WechatIMG1087.jpeg